body {
    height: 100vh;
    width: 100wh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
}

.footer {
    background-color: aqua;
}

.header .buttons {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.header .head {
    max-width: 50%;
    flex-direction: column;
    margin-top: -10px;
    align-items: center;
    text-align: center;
   
}

.header .headImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dice1 {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

#dice2 {
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    height: 90px;
}

.welpage {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#game {
    display:none;
}

#score {
    display: none;
}

.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game-board {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board, .score {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.score h3{
    width: 154.75px;
    height: 55px;
}


.game-board input{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 60px;
    margin: 5px;
}

.playersInput {
    display: none;
}

.buttons1 {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    width: 15%;
}